<header class="standard-padding-horizontal">
    <h1>Daily To Do</h1>
</header>
<div class="lanes-container" (window:mouseup)="hideEditTodo($event)">
    <article class="lane">
        <header class="title">To Do</header>

        <div class="todo-container" data-lane="todo" [dragula]="'todo-bag'">
            <todo class="todo" (dblclick)="showEditTodo(todo, $event)" [attr.data-todo]="JSON.stringify(todo)" [todo]="todo "
                *ngFor="let todo of todos | async | laneFilter:todoFilter">
            </todo>
        </div>
        <aside *ngIf=" addingNewTodo ">
            <new-todo (onBlur)="hideNewTodo($event)"></new-todo>
        </aside>
        <a class="add-todo " *ngIf="!addingNewTodo" (click)="showNewTodoInput() ">Add Todo</a>
    </article>
    <article class="lane ">
        <header class="title ">In Progress</header>
        <div class="todo-container" data-lane="in progress" [dragula]="'todo-bag'">
            <todo class="todo" (dblclick)="showEditTodo(todo, $event)" [attr.data-todo]=" JSON.stringify(todo) " [todo]="todo "
                *ngFor="let todo of todos | async | laneFilter:inProgressFilter">
            </todo>
        </div>
    </article>
    <article class="lane ">
        <header class="title ">Oh Hold</header>
        <div class="todo-container" data-lane="on hold" [dragula]="'todo-bag'">
            <todo class="todo" (dblclick)="showEditTodo(todo, $event)" [attr.data-todo]=" JSON.stringify(todo)" [todo]="todo"
                *ngFor="let todo of todos | async | laneFilter:onHoldFilter">
            </todo>
        </div>
    </article>
    <article class="complete lane ">
        <header class="title ">
            Complete
            <a (click)="archiveComplete($event) ">
                <svg baseProfile="tiny" height="24px" version="1.2" viewBox="0 0 24 24" width="24px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Layer_1">
                        <g>
                            <path d="M13,12h-3c-0.276,0-0.5,0.224-0.5,0.5S9.724,13,10,13h3c0.276,0,0.5-0.224,0.5-0.5S13.276,12,13,12z" />
                            <path d="M20,5H3C2.447,5,2,5.448,2,6s0.447,1,1,1h17c0.553,0,1-0.448,1-1S20.553,5,20,5z" />
                            <path d="M18,8H5C4.447,8,4,8.448,4,9v8c0,1.654,1.346,3,3,3h9c1.654,0,3-1.346,3-3V9C19,8.448,18.553,8,18,8z M16,18H7    c-0.552,0-1-0.449-1-1v-7h11v7C17,17.551,16.552,18,16,18z"
                            />
                        </g>
                    </g>
                </svg>
            </a>
        </header>
        <div class="todo-container" data-lane="complete" [dragula]="'todo-bag'">
            <todo class="todo" (dblclick)="showEditTodo(todo, $event)" [attr.data-todo]=" JSON.stringify(todo) " [todo]="todo "
                *ngFor="let todo of todos | async | laneFilter:completeFilter">
            </todo>
        </div>
    </article>
</div>

<aside [ngStyle]="{'left': editTodoLeft, 'top': editTodoTop}" class="edit-todo-container" [hidden]="!editingTodo">
    <header>
        <h2>{{currentlyEditingThisTodo.name}}</h2>

        <div class="description" contenteditable="true" placeholder="Write a description">
            {{currentlyEditingThisTodo.description}}
        </div>
    </header>
    <table>
        <tr>
            <td>Created On:</td>
            <td>{{currentlyEditingThisTodo.displayCreatedOnDate}}</td>
        </tr>
    </table>
</aside>