:host {
	background: #f5f6fb;
	display: block;
	height: 300px;
	min-height: 100vh;
	overflow: scroll;
	padding: 0 8em 3em;
}

.lanes-container {
	display: flex;
	margin-bottom: 100px;

	.lane {
		background: #fff;
		border-radius: 0.25em;
		box-shadow: 0 0 1em rgba(0, 0, 0, 0.05);
		flex: 1 auto;
		margin: 0.5em;
		padding: 1em;
		width: 25%;

		&.todo-hovering-over {
			box-shadow: 0 0 1em rgba(0, 0, 0, 0.15);
		}

		header {
			padding: 0.5em 0;
			display: flex;
			justify-content: space-between;
		}
	}

	.todo-container {
		min-height: 100px;
		margin-bottom: 0.5em;
	}
}

.add-todo {
	width: 100%;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	padding: 0.5em;
}

add-edit-todo {
	background: #fff;

	width: 300px;

	position: fixed;

	[contenteditable=true]:empty::before {
	  content: attr(placeholder);
	}
}
