<form class="edit-todo-container" (change)="handleFormChange()">
	<header>
		<textarea class="mousetrap name" (keyup)="handleFormChange()" [(ngModel)]="todo && todo.name" name="name"></textarea>

		<textarea class="description mousetrap" placeholder="Write a description" [(ngModel)]="todo && todo.description" name="description"></textarea>
	</header>

	<table>
		<tr *ngIf="todo?.id">
			<td>Created On:</td>
			<td>{{todo?.createdOn | date :'shortDate'}}</td>
		</tr>
		<tr>
            <td>Scheduled For:</td>
            <td><input type="date" name="startOn" (ngModelChange)="todo.scheduledFor = $event" [ngModel]="todo && todo.scheduledFor | date:'yyyy-MM-dd'" /></td>
        </tr>
	</table>

	<section class="notes">
		<textarea class="mousetrap notes" [(ngModel)]="todo && todo.notes" name="notes" placeholder="Notes"></textarea>
	</section>

	<section class="actions">
		<a *ngIf="todo?.id" class="btn btn-subtle warn" href="javascript:;" (click)="deleteTodo(todo?.id)">Delete Task</a>
		<span class="footnote" *ngIf="!todo?.id">Press Ctrl + Enter to Add</span>
	</section>
</form>