/* ---------- Typography ---------- */

$bodyFontSize: 13px;

/* ---------- Spacing ---------- */

$largeSpacing: 3em;
$smallSpacing: 0.5em;
$standardSpacing: 1em;

/* ---------- Animation ---------- */

$transitionFast: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
$transitionNormal: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
$transitionSlow: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);

/* ---------- Colors ---------- */

// whites
$white: rgba(255, 255, 255, 1);
$whiteOff: #efefef;
$whiteSuperFaded: rgba(255, 255, 255, 0.1);
$whiteFaded: rgba(255, 255, 255, 0.5);
$whiteFadedHover: rgba(255, 255, 255, 0.8);

// grays
$gray: rgba(91, 91, 91, 1);
$grayFaded: rgba(91, 91, 91, 0.5);
$graySuperFaded: rgba(91, 91, 91, 0.2);
$grayBlueLight: #ecf2f6;
$grayBlueDark: #697d8a;

// blues
$primaryBlue: #6e62b5;
$activeBlue: #15a4fa;

// green
$activeGreen: #8bc824;

// red
$warnRed: #de6c6c;

/* ---------- Responsive ---------- */

$break-small: 500px;
$break-tablet: 960px;
$break-large: 1024px;

@mixin respond-to($media) {
	@if $media == phone {
		@media only screen and (max-width: $break-small) {
			@content;
		}
	} @else if $media == tablet {
		@media only screen and (max-width: $break-tablet) {
			@content;
		}
	} @else if $media == wide-screens {
		@media only screen and (min-width: $break-large) {
			@content;
		}
	}
}

/* ---------- z-index ---------- */

$z-index: (
  modal              : 200,
  navigation         : 100,
  footer             : 90,
  triangle           : 60,
  navigation-rainbow : 50,
  share-type         : 41,
  share              : 40,
);