@import '../../../../styles/variables';

nav {
	background: #FFF;
	border-bottom: 1px solid #efefef;
	box-shadow: 0 -10px 10px #efefef;
	display: flex;
	padding: 1em;

	& > div {
		padding: 0.5em;
		width: 33.3%;
	}

	.page-info {
		display: flex;
		justify-content: flex-start;
	}

	.page-menu {
		display: flex;
		align-content: center;
		align-items: center;
		justify-content: center;

		a {
			display: block;

			padding: 0 0.5em;
		}
	}

	.auxiliary-menu {
		align-items: center;
		display: flex;
		justify-content: flex-end;

		plus-button {
			margin-right: 1em;
		}
	}
}